footer.footer {
  font-size: small;
  background-color: var(--bg-beige);
  box-shadow: var(--shadow);
  background-image: url("../../../assets/imgs/world-footer2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: black;
}

.copyrights {
  font-size: x-small;
}

.link-content {
  font-size: normal;
}

img { 
  padding: 0px;
  width: 100px;
}

.form-subs input {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 5%;
  border: none;
  background-color: transparent;
  font-size: large;
  color: var(--bg-beige) !important;
}

.form-subs input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.form-subs .form-label-subs {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid var(--bg-beige);
}

.form-subs .form-label-subs::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
}

.content-name {
  color: black;
}

.form-subs input:focus + .form-label-subs .content-name, 
.form-subs input:valid + .form-label-subs .content-name {
  transform: translateY(-100%);
  font-size: 0.8rem;
  color: var(--bg-beige);
}

i.fa {
  color: black;
  font-size: large;
}

i.fa:hover {
  color: var(--bg-beige);
}

.btn-subs {
  width: 100%;
  height: 100%;
  background: #222;
  border: none;
  border-radius: 10px;
  color: var(--bg-beige);
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.btn-subs > .circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.btn-subs:hover {
  background: transparent;
  outline: none;
}

.btn-subs:hover > .circle {
  height: 100%;
  width: 100%;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid var(--bg-beige);
}

@media(max-width: 414px) {
  footer.footer {
    font-size: small;
  }
  .form-subs input {
    font-size: small;
  }
  .copyrights {
    font-size: xx-small;
  }
}
