@font-face { 
  font-family: 'Blkchcry';
  src: url('../../../fonts/Blkchcry.ttf');
}

section h2 {
  font-family: 'Blkchcry';
  font-size: 40px;
}

@media(max-width: 560px) {
  section h2 {
    font-size: 34px;
  }
}

@media(max-width: 414px) {
  section h2 {
    font-size: 23px;
  }
}