@font-face { 
  font-family: 'Blkchcry';
  src: url('../../../fonts/Blkchcry.ttf');
}

section h2 {
  font-family: 'Blkchcry';
  font-size: 40px;
}

button.btn-style {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  background: linear-gradient(to right,	#D2691E, #ffb88c);
}

@media(max-width: 500px) {
  section h2 {
    font-size: 34px;
  }
}

@media(max-width: 414px) {
  section h2 {
    font-size: 23px;
  }
}