aside.menu-area {
  background-color: var(--bg-dark);
  box-shadow: var(--shadow);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px 10px;
}

.menu a:hover {
  background: linear-gradient(135deg, #fff 50%, var(--bg-dark) 100%);
  color: var(--bg-dark);
}
