main > div {
  background-color: var(--bg-white);
  box-shadow: var(--shadow);
}

@media(max-width: 414px) {
  main {
    font-size: 0.6rem;
  }
  section > div h5 {
  font-size: 0.9rem;
  }
  div .sign-up-form {
    margin: 0;
  }
  div > h1 {
    font-size: 2rem;
  }
  div > h3 {
    font-size: 1rem;
  }
}

.form {
  position: relative;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: black;
  padding: 0;
  padding-top: 8%;
  border: none;
  background-color: transparent;
}

.form input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.form .form-label {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #cbad6d;
}

.form .form-label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid	black;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  color: #cbad6d;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .form-label .content-name, 
.form input:valid + .form-label .content-name {
  transform: translateY(-100%);
  font-size: 0.8rem;
  color: 	black;
}

.form input:focus + .form-label:after,
.form input:valid + .form-label:after {
  transform: translateX(0%);
}

.form .form-textarea {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}

.sign-up-form {
    padding: 1em;
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #cbad6d 100%, #cbad6d 100%),
                        linear-gradient(to bottom, #cbad6d 100%, #cbad6d 100%),
                        linear-gradient(to right, #cbad6d 100%, #cbad6d 100%),
                        linear-gradient(to bottom, #cbad6d 100%, #cbad6d 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 3s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
}

div .sign-up-form:hover {
    animation-play-state: running;
}

div .form-group {
  margin-bottom: 0;
}
 