main > div {
  background-color: var(--bg-beige);
  box-shadow: var(--shadow);
  width: 100%;
  padding-top: 5%;
}

@media(max-width: 414px) {
  main {
    font-size: 0.8rem;
  }
  section > div h5 {
  font-size: 0.9rem;
  }
  div .sign-up-form {
    margin: 0;
  }
  div > h1 {
    font-size: 2rem;
  }
  div > h3 {
    font-size: 1rem;
  }

  div > .form input:focus + .form-label .content-name, 
  div > .form input:valid + .form-label .content-name {
  transform: translateY(-100%);
  font-size: 0.7rem;
  color: 	black;
  }

  section.dashboard > .row {
    font-size: 100%;
  }

  div > .card-header {
    font-size: 18px;
  }

  button {
    padding: none;
    margin: none;
  }
}

/* Signup & Map */

.form {
  position: relative;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: black;
  padding: 0;
  padding-top: 5%;
  border: none;
  background-color: transparent;
}

.form input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.form .form-label {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #cccccc;
}

.form .form-label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid	black;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  color: rgba(0,0,0,.5);
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .form-label .content-name, 
.form input:valid + .form-label .content-name {
  transform: translateY(-100%);
  font-size: 0.8rem;
  color: 	black;
}

.form input:focus + .form-label:after,
.form input:valid + .form-label:after {
  transform: translateX(0%);
}

.form .form-textarea {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}

.sign-up-form {
    padding: 1em;
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, var(--bg-beige) 100%, #222 100%),
                        linear-gradient(to bottom, #222 100%, var(--bg-beige) 100%),
                        linear-gradient(to right, var(--bg-beige) 100%, #222 100%),
                        linear-gradient(to bottom, #222 100%, var(--bg-beige) 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
    background-color: var(--bg-white);
}

div .sign-up-form:hover {
  animation-play-state: running;
}

.form .form-group {
  margin-bottom: 0;
  overflow: hidden;
}

/* general */

.btn-input {
  width: 50%;
  height: 100%;
  background: #222;
  border-radius: 20px;
  position: relative;
  transition: 1s;
  color: var(--bg-beige);
}

.btn-input:hover {
  outline: none;
}

/* posts */

.btn-container {
  display: flex;
  justify-content: space-around;
}

.post-actions > .btn-input {
  width: 25%;
}


div.post-summary {
  background-color: transparent;
  border: transparent;
}

.header-post-summary {
  font-size: large;
  text-align: center;
}

.footer-post-summary {
  font-size: small;
  border: transparent;
}

#p_wrap {
  white-space: pre-line;
}

/* Notifications */

span.notification {
  font-size: small;
}

div.card-notification {
  border: transparent;
  background: transparent;
}

/* User Details */

.image-container img.picture-profile {
    width: 100%;
}

/* Image Post Size */

.img-fluid {
  width: 100% !important;
}

.img-restriction {
  padding-top: 10px;
  font-weight: lighter;
  font-size: 10px;
}