aside.menu-area {
  background-color: var(--bg-dark);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px 10px;
}

.menu a:hover {
  text-decoration: none;
  background: linear-gradient(135deg, #fff 50%, var(--bg-dark) 100%);
  color: var(--bg-dark);
}

@media(max-width: 780px) {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu a {
    display: inline;
    padding: 10px;
    margin: 0px;
  }

  .menu {
    height: 100%;
    justify-content: space-around;
  }
}