aside.menu-area {
  background-color: var(--bg-white);
  box-shadow: var(--shadow);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #4C4C4C;
  padding: 15px 10px;
}

.menu a:hover {
  text-decoration: none;
  /* background: linear-gradient(135deg, #fff 50%, var(--bg-dark) 100%); */
  color: #4C4C4C;
  font-size: x-large;
}


.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.menu a {
  display: inline;
  padding: 10px;
  margin: 0px;
}
