:root {
  --bg-white: #F8F8F8;

  --logo-height: 175px;
  --logo-height-native: 100px;
  --menu-top-height: 100px;
  --menu-top-height-native: 44px;
  --aside-width: 525px;
  --footer-height: 40px;

  --shadow:
    0 2px 0 0 rgba(0, 0, 0, 0.1),
    0 2px 0 0 rgba(0, 0, 0, 0.06);
}

/* Layout in Grid */
.app {
  margin: 0px;
  display: grid;
 grid-template-rows: 
      var(--logo-height)
      var(--menu-top-height)
      1fr
      var(--footer-height);
    grid-template-columns: 
      var(--aside-width)
      1fr;
    grid-template-areas:
      'logo logo'
      'header menu'
      'content content'
      'footer footer';
  height: 100vh;
  background-color: var(--bg-white);
}

.aside.logo {
  grid-area: logo;
}

header.header {
  grid-area: header;
}

aside.menu-area {
  grid-area: menu;
}

main.content {
  grid-area: content;
}

footer.footer {
  grid-area: footer;
}

@media(max-width: 576px) {
  .app {
    grid-template-rows: 
      var(--logo-height-native)
      var(--menu-top-height-native)
      1fr
      var(--footer-height);
    grid-template-columns: 100%;
    grid-template-areas: 
      'logo'
      'menu'
      'content'
      'footer';
    overflow-x: hidden;
  }
}
