:root {
  --bg-white: #F8F8F8;

  --logo-height: 175px;
  --logo-height-native: 100px;
  --menu-top-height: 40px;
  --menu-top-height-native: 44px;
  --footer-height: 40px;

  --shadow:
    0 2px 12px 12px rgba(0, 0, 0, 0.1),
    0 2px 12px 12px rgba(0, 0, 0, 0.1);
}

/* Layout in Grid */
.app {
  margin: 0px;
  display: grid;
 grid-template-rows: 
      var(--logo-height)
      var(--menu-top-height)
      1fr
      var(--footer-height);
    grid-template-columns: 
      1fr;
    grid-template-areas:
      'logo'
      'menu'
      'content'
      'footer';
  height: 100vh;
  background-color: var(--bg-white);
}

section.logo {
  grid-area: logo;
}

section.menu-area {
  grid-area: menu;
}

main.content {
  grid-area: content;
}

footer.footer {
  grid-area: footer;
}

@media(max-width: 414px) {
  .app {
    grid-template-rows: 
      var(--logo-height-native)
      var(--menu-top-height-native)
      1fr
      var(--footer-height);
    grid-template-columns: 100%;
    grid-template-areas: 
      'logo'
      'menu'
      'content'
      'footer';
  }
}
