@font-face { 
  font-family: 'Blkchcry';
  src: url('../../../fonts/Blkchcry.ttf');
}

section h2 {
  font-family: 'Blkchcry';
  font-size: 40px;
}

@media(max-width: 768px) {
  section h2 {
    font-size: 34px;
  }
  .form-login {
    display: flex;
    justify-content: center;
  }
  .form-login button {
    font-size: 14px;
  }
  div > .form-login > .row {
    width: 100%;
  }
}

@media(min-width:768px) {
  .login-menu {
    height: 64.7px;
    display: flex;
    align-items: center;
  }
}

@media(max-width: 414px) {
  span.pipe {
    display: none;
  }
  section h2 {
    font-size: 23px;
  }
  div.form-login {
    padding: 0 !important;
  }
  div.form-login.form-group {
    width: 20px;
  }
  div.form-login > .row {
    padding: 5px;
    font-size: 10px;
  }
  div.form-login input:focus + .form-label-log .content-name, 
  div.form-login input:valid + .form-label-log .content-name {
    transform: translateY(-100%);
    font-size: 0.5rem;
  }
  .form-login button {
    height: 35px;
    width: 40px;
  }
  .form-login > div > div > .alert-Login {
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


button.btn-style {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  background: linear-gradient(to right,	#D2691E, #ffb88c);
}

button.btn-style:active {
  outline: none;
  }

/* Login  */

.btn-login {
  width: 100%;
  height: 75%;
  background: #222;
  border-radius: 10px;
  position: relative;
  transition: 1s;
}

.btn-login:hover {
  outline: none;
}

.btn-login > i {
  color: var(--bg-beige) !important;
}

.form-login input {
  width: 100%;
  height: 100%;
  color: black;
  padding: 0;
  padding-top: 5%;
  border: none;
  background-color: transparent;
}

.form-login input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.form-login .form-label-log {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #cccccc;
}

.form-login .form-label-log::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
}

.form-login input:focus + .form-label-log .content-name, 
.form-login input:valid + .form-label-log .content-name {
  transform: translateY(-100%);
  font-size: 0.8rem;
  color: 	black;
}

.form-login > div > div > .alert-Login {
  width: 80%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NavBar */

.menu {
  box-shadow: var(--shadow);
  background-color: var(--bg-beige);
}

.pipe {
  opacity: 0.2;
  font-size: x-large;
}
